:root {
	--responsive: 1vmax;
}

* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	caret-color: transparent;
}
body {
	background-color: #081a2b;
	background-repeat: no-repeat;
	background-position: center 95%;
	background-attachment: unset;
	background-size: 4vmax 4vmax;
	height: 97vh;
	width: 98vw;
	min-height: 970px;
	color: white;
}

.centerContainer {
	display: none;
	z-index: 10;
	background-color: #081a2b;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
#cropSelect {
	width: 0.7vmax;
}

h1 {
	text-align: center;
}
h2 {
	z-index: 2;
}
h3 {
	width: 100%;
	text-align: center;
	font-size: var(--responsive);
}

#input,
#output {
	margin: 1rem auto;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#input {
	width: 350px;
}
/* label {
	cursor: pointer;
} */
label[for="input"],
label[for="output"] {
	font-size: var(--responsive);
}
.maxSizeContainer {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

#maxOutput {
	width: 70px;
	text-align: center;
	display: block;
}
.qualityContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}
label[for="quality"] {
	margin-right: 0.5rem;
}
#qualityRange {
	margin-top: 0;
	margin-left: 0.5rem;
}
.checkCrop {
	display: flex;
	gap: 10px;
}
.crop {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	flex-direction: column;
	gap: 5px;
}

.run,
.download {
	width: fit-content;
	display: block;
	padding: 1rem 2rem;
	font-size: 1rem;
	background: none;
	color: white;
	border-radius: 20px;
	transition: background-color 200ms, color 200ms;
	cursor: pointer;
	border: white solid 1px;
	position: relative;
	background-color: #081a2b;
	z-index: 3;
	font-size: var(--responsive);
}
.run {
	z-index: 4;
}
.buttons {
	display: flex;
	align-items: space-between;
	justify-content: center;
	padding: 1rem;
	gap: 15px;
}
.run:hover,
.download:hover {
	background-color: #1b2f43;
}
.run:active,
.download:active {
	background-color: #051320;
}
#cropVals {
	opacity: 0;
	display: none;
	align-items: center;
	justify-content: center;
	gap: 5px;
	flex-direction: column;
	z-index: 4;
	border-radius: 15px;
	background-color: #081a2b;
}
#cropVals > * {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

input[type="range"] {
	width: 100px;
}

fieldset {
	width: fit-content;
	min-width: 30rem;
	min-height: 10rem;
	margin: 1rem auto;
	border-radius: 30px;
	padding: 1rem;
	position: relative;
	transition: 200ms height;
	background-color: #081a2b;
}

img {
	margin: 0 1rem;
}
.imgContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.finished > img {
	object-fit: contain;
	max-width: 400px;
	max-height: 400px;
}
.imgContainer.prev img {
	margin: 0;
	filter: brightness(0.5);
}
.inset {
	position: relative;
	width: 100%;
	height: 100%;
}
.inset::before {
	content: "";
	width: 0px;
	height: 100%;
	border: yellow dashed 0.1vmax;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.inset::after {
	content: "";
	width: 100%;
	height: 0px;
	border: yellow dashed 0.1vmax;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.resizeDrag {
	width: 3vmax;
	height: 3vmax;
	background-image: url("./resizer.png");
	background-size: 3vmax 3vmax;
	z-index: 60;
	position: absolute;
	bottom: -0.5vmax;
	right: -0.5vmax;
	background-size: cover;
}
.resizeDrag:hover {
	cursor: se-resize;
	background-image: url("./resizer-hover.png");
}
.selector {
	box-sizing: border-box;
	left: 0;
	top: 0;
	position: absolute;
	border: rgb(237, 105, 29) dashed 0.5vmax;
	/* filter: drop-shadow(0px 0px 1000px black); */
	backdrop-filter: brightness(2);
	z-index: 2;
	/* background-image: url("./crosshair.png");
	background-size: 20% 20%;
	background-repeat: no-repeat;
	background-position: center; */
}
.selector:hover {
	cursor: grab;
}

.download {
	padding: 1rem 2rem;
	display: block;
	border-radius: 20px;
}

/* Loader */

#loading {
	position: fixed;
	width: 6vmax;
	height: 6vmax;
	padding: 1rem;
	left: 50%;
	top: 30%;
	transform: translate(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.686);
	border-radius: 20px;
	font-size: var(--responsive);
	flex-direction: column;
	opacity: 0;
	pointer-events: none;
	z-index: 10;
	gap: 1vmax;
}
.lds-ring {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 1280px) {
	body {
		background-image: url("./dtvgo.png");
	}
}
